[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-mashka
Exec=harbour-mashka
Name=Mashka

[X-Sailjail]
Sandboxing=Disabled

[X-HarbourBackup]
BackupPathList=.config/harbour-mashka/
